/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset*/

/* {
	outline:2px solid black;
}*/

body {
	
	background-image: url("statler&waldorf.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family:Arial, sans-serif;
	
}
p {
	color:rgba(0,0,0, 1.0);
}
#instructionBox {
	position:relative;
	height:900px;
	width:1200px;
	margin:2.5% auto;
	background-color: rgba(80,167,244,.87);
	border-radius:25px;
	box-shadow: 4px 4px 4px black;
	font-weight: bold;	
	padding:0px 20px 0px 20px;	
	font-size: 30px;
	color:black;
	text-align: center;
}
h1 {
	font-weight:normal;
	position:relative;
	padding-top: 50px;
	font-family: Impact, Arial, sans-serif;
	font-size: 60px;
	color: black;
	text-align: center;
}
#instructions {
	margin-top:166px;
	font-size: 40px;
	height: 210px;
	line-height: 40px;
}
#startButton {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
	box-shadow: 0 0 0 2px #50A7F4, 0 0 0 10px #A0A82E;
	border-radius: 5px;
	margin:auto;
	position:relative;
	margin-top:200px;
	height:55px;
	width:140px;
	opacity: 1.0;
	background-color:#266BA8;
	cursor:pointer;
	vertical-align: middle;
}
#startButton p {
	font-size: 30px;
	padding-top:10px;
}
#startButton:hover{
	box-shadow: 0 0 0 7px #F67069;
	
}
#qBox{
	display:none;
	border-radius: 25px;
	box-shadow: 4px 4px 4px black;
	margin:3.3% auto;
	min-height:800px;
	width:700px;
	background-color: rgba(80,167,244,.87);
}

li:hover{
	font-size:32px;
	background-color:#B7C12C;
	opacity: .85;
	border-radius: 20px;
	font-weight:bold;
	box-shadow: 3px 3px 5px;

}
#question {
	position:relative;
	display:block;
	text-align: center;
	margin:20px;
	font-size: 36px;
	padding-top:50px;
	font-weight: bold;

}
#ansList {
	margin-top:95px;
}
.choice {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition:all 0.1s ease-in;
	-o-transition:all 0.1s ease-in;
	transition:all 0.1s ease-in;
	display: block;
	text-align: center;
	margin:20px;
	font-size:28px;
	margin:40px;
	opacity:1.0;
	cursor:pointer;
}
#subBut {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
	box-shadow: 0 0 0 2px #50A7F4, 0 0 0 10px #A0A82E;
	border-radius: 5px;
	margin:auto;
	padding:none;
	position:relative;
	margin-top:150px;
	height:60px;
	width :75px;
	opacity: 1.0;
	background-color:#266BA8;
	opacity:1.0;
	cursor:pointer;
	font-size: 20px;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
}
#subBut p{
	display:block;
	padding-top: 16px;
	opacity:1.0;
	
}
#subBut:hover{
	box-shadow: 0 0 0 7px #F67069;
}
.chosen{
	-webkit-transition: all 0.1s ease-in;
	-moz-transition:all 0.1s ease-in;
	-o-transition:all 0.1s ease-in;
	transition:all 0.1s ease-in;
	color:#F67069;
	font-size:32px;
	font-weight:bold;
	display: block;
	text-align: center;
	margin:20px;
	margin:40px;
	opacity:1.0;
	cursor:pointer;
}
#resultBox {
	display:none;
	position:relative;
	height:900px;
	width:1200px;
	margin:2.5% auto;
	background-color: rgba(80,167,244,.87);
	border-radius:25px;
	box-shadow: 4px 4px black;
	font-weight: bold;	
	padding:0px 20px 0px 20px;	
	font-size: 30px;
	color:black;
	text-align: center;
}
#rankDisplay{
	position: relative;
	font-family: Impact, Arial, sans-serif;
	font-weight: bolder;
	font-style: italic;
	padding-top: 105px;
	font-size: 45px;
}
#banter{
	position: relative;
	margin-top:120px;
	font-size: 40px;
	height: 210px;
	line-height: 40px;
}
#newGame {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
	box-shadow: 0 0 0 2px #50A7F4, 0 0 0 10px #A0A82E;
	border-radius: 3px;
	font-size:25px;
	margin:auto;
	font-size: 25px;
	text-align: middle;
	position:relative;
	margin-top:90px;
	height:60px;
	width:75px;
	opacity: 1.0;
	background-color:#266BA8;
	cursor:pointer;
	
}
#newGame p {
	padding-top: 4px;
}
#newGame:hover{
	box-shadow: 0 0 0 7px #F67069;
}
